
*.sdf
*.opensdf
*.suo
*.user
*.aps
*.VC.db
*.opendb
*.obj
*.tlog
*.lastbuildstate
*.pyc

.vs/
.idea/

# Build results

[Dd]ebug/
[Rr]elease/

node_modules/node-addon-api/src/Release/
node_modules/electron/dist/
natives/out/

/build
/bin