
*.sdf
*.opensdf
*.suo
*.user
*.aps
*.VC.db
*.opendb
*.obj
*.tlog
*.lastbuildstate
*.pyc

.vs/
.idea/

# Build results

**/[Dd]ebug/
**/[Rr]elease/

# customize
natives/out/
/build
/bin

# node_modules relate
node_modules/electron/dist/